.sticker-content {
  position: fixed;
  right: 0;
  bottom: 50%;
  z-index: 100;

  &__item {
    @include styleText($color-white-0, $fs-2, $fw-normal);

    margin: 1px 0;
    padding: $pd-0;

    background-color: $color-black-3;
    border-top-left-radius: 3px;
    width: 245px;

    cursor: pointer;
    opacity: 1;
    transform: translateX(198px);
    transition: transform 0.8s;

    &:hover {
      transform: translateX(0);
    }
  }

  &__icon {
    font-size: $fs-3 + 1;
    margin-right: $mg-0;

    &--social {
      margin-right: $mg-2;

      transition: color 0.3s;

      &:nth-child(5) {
        margin-right: 0;
      }

      &:not(&:first-child):hover {
        color: $color-blue-3;
      }
    }
  }

  &__share {
    display: none;
  }
}

//Responsive

@include responsive("medium") {
  .sticker-content {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;

    width: 99%;
    margin: 0 auto;
    background-color: $color-black-0;

    &__item {
      @include styleText($color-white-0, $fs-1 - 1, $fw-normal);

      display: flex;
      align-items: center;
      flex-direction: column;

      margin: 1px;
      padding: $pd-0;
      background-color: $color-black-3;
      border-top-left-radius: 3px;

      cursor: pointer;
      opacity: 1;
      transform: translateX(0);
    }

    &__text {
      margin-top: $mg-4 + 3;
    }

    &__icon {
      margin-right: 0;

      &--social {
        margin-right: 0;
        &:not(&:first-child) {
          display: none;
        }
      }
    }

    &__share {
      display: block;

      margin-top: 5px;
    }
  }
}
